// General
default_shell "/opt/homebrew/bin/fish"
pane_frames false
styled_underlines true

// Layouts
default_layout "default"

// Sessions
session_serialization false

// Themes
theme "catppuccin-latte"
