# Theme and UI
[include]
  path = ~/.config/git/catppuccin-macchiato.gitconfig

[delta]
  features = catppuccin-macchiato

# User Identity & Signing
[user]
  name = Christoph Schmatzler
{{- if .work }}
  email = christoph@tuist.dev
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGtCE8EgPKU8gcdoFrX6QRTwKziaujgBTXl7lnSwNjet
{{- else }}
  email = christoph@schmatzler.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOoTwh9PyFzN7YRmmPrEOyAO92NxlgqkORVO7rn5EKH1
{{- end }}

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

# Core Settings
[core]
  editor = nvim
  pager = delta

[init]
  defaultBranch = main

# Remote Operations
[fetch]
  prune = true

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[branch]
  autoSetupRebase = always

# Diff & Merge Tools
[diff]
  colorMoved = default
  tool = difftastic

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[merge]
  conflictstyle = diff3

[interactive]
  diffFilter = delta --color-only

[pager]
  difftool = true

# Workflow Enhancements
[rerere]
  enabled = true

[status]
  showUntrackedFiles = all

[log]
  date = iso
