#!/usr/bin/env bash

{{- if .personal | default false }}
cat $HOME/.config/brew/Brewfile.common $HOME/.config/brew/Brewfile.personal | brew bundle cleanup --force --file=-
{{ else }}
cat $HOME/.config/brew/Brewfile.common | brew bundle cleanup --force --file=-
{{- end }}
