#!/usr/bin/env bash

# Installing and upgrading brew packages...

{{- if .personal }}
cat $HOME/.config/brew/Brewfile.common $HOME/.config/brew/Brewfile.personal | brew bundle cleanup --force --file=-
cat $HOME/.config/brew/Brewfile.common $HOME/.config/brew/Brewfile.personal | brew bundle --file=-
{{ else }}
cat $HOME/.config/brew/Brewfile.common | brew bundle cleanup --force --file=-
cat $HOME/.config/brew/Brewfile.common | brew bundle --file=-
{{- end }}

brew upgrade --fetch-HEAD
